---
$path
---

<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/jquery.dotdotdot.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/bootstrap-colorpickersliders/dist/bootstrap.colorpickersliders.min.js"></script>
<script src="{{$path}}vender/bootstrap-colorpickersliders/dist/run_prettify.min.js"></script>
<script src="{{$path}}vender/bootstrap-colorpickersliders/dist/tinycolor.min.js"></script>
<script src="{{$path}}script/all.js" type="text/javascript"></script>
